#circle {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: -14px;
  shape-outside: circle();
  clip-path: circle();
  border: 2px black solid;
  border-radius: 50%;
}
