@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Oswald';
  src: url('../public/fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'Quattrocento';
  src: url('../public/fonts/Quattrocento/Quattrocento-Regular.ttf');
}

@layer base {
  body {
    @apply bg-white;
    @apply text-black;
  }

  button {
    @apply font-quattrocento;
  }

}

